@import url(normalize.css);

/**
 * coral: #f88379
 */

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font: 300 10px / 1.6 "roboto", arial, sans-serif;
}

body {
  background: url(../images/bg-top.svg) no-repeat center top,
      url(../images/bg-bottom.svg) no-repeat center bottom;
  font-size: 22px;
  font-size: 2.2rem;
  margin: auto;
  max-width: 600px;
  min-height: 100vh;
  padding: 20px 15px 200px;
  text-align: center;
}

:root body {
  max-width: none;
}

@media screen and (min-width: 480px) {
  body {
    padding-top: 160px;
  }
}

header,
footer,
main {
  margin: 0 auto;
  max-width: 600px;
}

h1,
h2,
h3,
button[type=submit],
.f-lead {
  font-family: "roboto slab", georgia, serif;
}

h1,
h2,
h3 {
  font-weight: 400;
  margin: 1.236em 0 .618em;
}

h1 {
  background: url(../images/couple.svg) no-repeat center top;
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 1.4;
  margin: 0 0 50px;
  padding-top: 240px;
}

h1 em {
  display: block;
  font-size: 45px;
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 700;
}

a {
  color: #4a90e2;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

input[type=text] {
  border: 3px solid #bbb;
  border-radius: 4px;
  font-size: 18px;
  max-width: 100%;
  outline: 0;
  padding: 5px 8px;
  width: 100%;
}

input[type=text]:hover,
input[type=text]:focus {
  border-color: #8abbf4;
}

:root input[type=radio],
:root input[type=checkbox] {
  opacity: 0;
  position: absolute;
}

:root input[type=radio] + label,
:root input[type=checkbox] + label {
  cursor: pointer;
  display: inline-block;
  position: relative;
}

:root input[type=radio] + label:before,
:root input[type=checkbox] + label:before {
  border: 3px solid #bbb;
  content: "";
  display: inline-block;
  height: 26px;
  margin-right: .5em;
  position: relative;
  top: 5px;
  transition: .2s;
  width: 26px;
}

:root input[type=radio] + label:before {
  border-radius: 50%;
}

:root input[type=checkbox] + label:before {
  border: 3px solid #bbb;
  border-radius: 4px;
}

:root input[type=radio] + label:after,
:root input[type=checkbox] + label:after {
  background: #4a90e2;
  content: "";
  height: 12px;
  left: 7px;
  position: absolute;
  top: 12px;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: .2s;
  width: 12px;
}

:root input[type=radio] + label:after {
  border-radius: 50%;
}

:root input[type=checkbox] + label:after {
  border-radius: 2px;
}

:root input[type=radio]:checked + label:after,
:root input[type=checkbox]:checked + label:after {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

:root input[type=radio] + label:hover:before,
:root input[type=radio]:focus + label:before,
:root input[type=checkbox] + label:hover:before,
:root input[type=checkbox]:focus + label:before {
  border-color: #8abbf4;
}

:root input[type=radio]:checked + label:before,
:root input[type=checkbox]:checked + label:before {
  border-color: #4a90e2;
}

.f-lead {
  font-size: 32px;
  font-size: 3.2rem;
  font-weight: 400;
  list-style: none;
  margin: 40px auto;
  padding: 0;
  text-align: left;
  max-width: 370px;
}

.f-lead {
  position: relative;
}

.f-lead li {
  position: relative;
}

.f-lead li + li {
  margin-top: 10px;
}

:root .f-lead input[type=radio] + label:before,
:root .f-lead input[type=checkbox] + label:before {
  height: 32px;
  width: 32px;
}

:root .f-lead input[type=radio] + label:after,
:root .f-lead input[type=checkbox] + label:after {
  height: 16px;
  left: 8px;
  top: 19px;
  width: 16px;
}

.guest {
  background: #f4f4f4;
  border-radius: 10px;
  margin: auto;
  overflow: hidden;
  padding: 20px;
  position: relative;
  text-align: left;
  transition: .2s;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .guest {
    width: 80%;
  }
}

.guest + .guest {
  margin-top: 40px;
}

.js [data-size] .guest {
  margin-top: 0;
  max-height: 0;
  padding: 0 20px;
}

#guest-1,
[data-accepted=true] [data-size="2"] #guest-2,
[data-accepted=true] [data-size="3"] #guest-2,
[data-accepted=true] [data-size="3"] #guest-3,
[data-accepted=true] [data-size="4"] #guest-2,
[data-accepted=true] [data-size="4"] #guest-3,
[data-accepted=true] [data-size="4"] #guest-4,
[data-accepted=true] [data-size="5"] #guest-2,
[data-accepted=true] [data-size="5"] #guest-3,
[data-accepted=true] [data-size="5"] #guest-4,
[data-accepted=true] [data-size="5"] #guest-5 {
  max-height: 1000px;
  padding: 20px;
}

[data-accepted=true] [data-size="2"] #guest-1,
[data-accepted=true] [data-size="2"] #guest-2,
[data-accepted=true] [data-size="3"] #guest-1,
[data-accepted=true] [data-size="3"] #guest-2,
[data-accepted=true] [data-size="3"] #guest-3,
[data-accepted=true] [data-size="4"] #guest-1,
[data-accepted=true] [data-size="4"] #guest-2,
[data-accepted=true] [data-size="4"] #guest-3,
[data-accepted=true] [data-size="4"] #guest-4,
[data-accepted=true] [data-size="5"] #guest-1,
[data-accepted=true] [data-size="5"] #guest-2,
[data-accepted=true] [data-size="5"] #guest-3,
[data-accepted=true] [data-size="5"] #guest-4,
[data-accepted=true] [data-size="5"] #guest-5 {
  margin-top: 40px;
}

.guest > :first-child {
  margin-top: 0;
}

.guest > :last-child {
  margin-bottom: 0;
}

.guest h3 {
  max-height: 200px;
  overflow: hidden;
  transition: .2s;
}

.js main:not([data-accepted]) #guest-1 h3,
.js main[data-accepted=false] #guest-1 h3,
.js main[data-accepted=true] [data-size="1"] #guest-1 h3 {
  max-height: 0;
  margin: 0;
}

.js main:not([data-accepted]) #guest-1 > ul,
.js main[data-accepted=false] #guest-1 > ul,
.js main[data-accepted=true] [data-size="1"] #guest-1 > ul {
  margin-top: 0;
}

.enhanced .guest .more {
  display: none;
}

.guest ul {
  list-style: none;
  padding: 0;
}

.guest > ul > li + li {
  margin: 40px 0 0;
}

.guest ul ul li {
  display: inline-block;
  min-height: 26px;
  position: relative;
}

.enhanced .guest ul ul li {
  display: block;
  font-size: 16px;
}

.guest ul ul li + li {
  margin: 0 0 0 30px;
}

.enhanced .guest ul ul li + li {
  margin: 10px 0 0;
}

.guest > ul > li > label {
  display: block;
  margin-bottom: 5px;
}

.js #guest-1 > ul > li + li {
  margin: 0;
  max-height: 0;
  overflow: hidden;
  transition: .2s;
}

.js [data-accepted=true] #guest-1 > ul > li + li {
  margin: 40px 0 0;
  max-height: 500px;
}

.enhanced .guest input[type=radio] + label {
  padding-left: 40px;
}

.enhanced .guest input[type=radio] + label:before {
  left: 0;
  position: absolute;
  top: 0;
}

.enhanced .guest input[type=radio] + label:after {
  top: 7px;
}

.enhanced .guest label ~ p {
  font-size: 16px;
}

.guest-actions {
  list-style: none;
  margin: 0;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  text-align: center;
  transition: .2s;
}

[data-accepted=true] .guest-actions {
  margin-top: 20px;
  max-height: 100px;
}

.guest-actions li {
  display: inline-block;
}

.guest-button {
  background: none;
  border: none;
  color: #4a90e2;
  outline: 0;
  padding: 0;
}

.guest-button:hover,
.guest-button:focus,
.guest-button:active {
  text-decoration: underline;
}

.guest-actions .guest-button {
  display: none;
}

[data-accepted=true] [data-size="1"] #guest-button-add,
[data-accepted=true] [data-size="2"] #guest-button-add,
[data-accepted=true] [data-size="3"] #guest-button-add,
[data-accepted=true] [data-size="4"] #guest-button-add {
  display: inline-block;
}

[data-accepted=true] [data-size="2"] #guest-button-remove,
[data-accepted=true] [data-size="3"] #guest-button-remove,
[data-accepted=true] [data-size="4"] #guest-button-remove,
[data-accepted=true] [data-size="5"] #guest-button-remove {
  display: inline-block;
}

[data-accepted=true] [data-size="2"] #guest-button-remove,
[data-accepted=true] [data-size="3"] #guest-button-remove,
[data-accepted=true] [data-size="4"] #guest-button-remove {
  margin-left: 40px;
}

footer {
  border-top: 1px dashed #eee;
  font-size: 16px;
  margin-top: 80px;
  padding-top: 40px;
  text-align: left;
}

.enhanced footer {
  display: none;
}

#menu:after {
  clear: both;
  content: "";
  display: table;
}

.menu-type {
  float: left;
  padding: 0 20px 0 0;
  width: 50%;
}

.menu-type:last-child {
  padding: 0 0 0 20px;
}

.menu-type ol {
  list-style: upper-alpha;
}

button[type=submit] {
  background: #f88379;
  border: 0;
  border-radius: 8px;
  color: #fff;
  font-size: 32px;
  font-size 3.2rem;
  margin-top: 40px;
  padding: 15px 40px;
  transition: .2s;
}

button[type=submit]:hover,
button[type=submit]:active {
  background: #e2655b;
}

[data-accepted=true] button[type=submit]:after {
  content: " :-)";
}

[data-accepted=false] button[type=submit]:after {
  content: " :`(";
}
